<div class="container mt-5">
    <h2 class="text-center mb-4">معلومات الدفع</h2>
    <form>
      <div class="form-group">
        <label for="name">الاسم الكامل:</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      
      <div class="form-group">
        <label for="address">العنوان:</label>
        <input type="text" class="form-control" id="address" required>
      </div>
  
      <div class="form-group">
        <label for="phone">رقم الهاتف:</label>
        <input type="tel" class="form-control" id="phone" required>
      </div>
  
      <div class="form-group">
        <label for="email">البريد الإلكتروني:</label>
        <input type="email" class="form-control" id="email" required>
      </div>
  
      <div class="form-group">
        <label>طريقة الدفع:</label>
        <div>
          <input type="radio" id="creditCard" name="paymentMethod" value="الدفعة الإلكترونية" required>
          <label for="creditCard">الدفع الإلكتروني</label>
        </div>
        <div>
          <input type="radio" id="cash" name="paymentMethod" value="كاش" required>
          <label for="cash">كاش</label>
        </div>
      </div>
  
      <button type="button" class="btn btn-primary btn-block" (click)="navigateToCheckout()">ادفع الآن</button>
    </form>
  </div>
  