<div class="container">

    <div class="row mt-5">
        <div class="col text-center">
            <div class="row">
                <div class="col d-flex">
                    <a [routerLink]="['/skin']" class="flex-fill">
                        <div class="card" style="background-color: rgb(241, 233, 240); height: 100%;">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa fa-spa fa-6x mb-3 text-success" aria-hidden="true"></i>
                                <h1 class="h5">العناية بالبشره</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-flex">
                    <a [routerLink]="['/perfumes']" class="flex-fill">
                        <div class="card" style="background-color: rgb(241, 233, 240); height: 100%;">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa fa-spray-can fa-6x mb-3 text-info" aria-hidden="true"></i>
                                <h1 class="h5"> العطور</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <div class="row">
                <div class="col d-flex">
                    <a [routerLink]="['/list', clothing]" class="flex-fill">
                        <div class="card" style="background-color: rgb(241, 233, 240); height: 100%;">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa fa-tshirt fa-6x mb-3" aria-hidden="true"></i>
                                <h1 class="h5">ملابس</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col d-flex">
                    <a [routerLink]="['/list', gold]" class="flex-fill">
                        <div class="card" style="background-color: rgb(241, 233, 240); height: 100%;">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <i class="fa fa-gem text-warning fa-6x mb-3" aria-hidden="true"></i>
                                <h1 class="h5">المجوهرات</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>