<section style="background-color: #eee; margin-bottom: 30px;"> <!-- إضافة margin-bottom -->
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4 col text-center">
                <div class="card text-center" style="border-radius: 15px;">
                    <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light d-flex justify-content-center"
                        data-mdb-ripple-color="light">
                        <img [src]="products_data.image" height="100" width="100" />
                        <a href="#!">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p><a href="#!" class="text-dark">{{ products_data.title }}</a></p>
                                <p class="small text-muted">{{ products_data.category }}</p>
                            </div>
                            <div>
                                <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p class="small text-muted">Rated 4.0/5</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <p><a href="#!" class="text-dark">{{ products_data.price }}</a></p>
                            <p class="text-dark">#### 8787</p>
                        </div>
                        <p class="small text-muted">VISA Platinum</p>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                            <a href="#!" class="text-dark fw-bold">Cancel</a>
                            <!-- تغيير الزر هنا -->
                            <a [routerLink]="['/payment']" class="btn btn-primary">Buy now</a>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" (click)="increment()">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  